{% extends 'base.html' %}
{% load static %}


{% block contenido %}

<h1>Listado de productos</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% if productos %}
        {% for p in productos %}
        <tr>
            <td scope="row">{{p.nombre}}</td>
            <td>
                <a href="{% url 'productos:detalle' p.id %}"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Ver detalle">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<a href="{% url 'home' %}">ir al home</a>
{% endblock contenido %}